<p id="notice"><%= notice %></p>

<h2>
  <strong>Title:</strong>
  <%= @recipe.title %>
</h2>

<p>
  <strong>Cooking time:</strong>
  <%= @recipe.cooking_time %>
</p>

<p>
  <strong>Difficulty level:</strong>
  <%= @recipe.difficulty_level %>
</p>

<p>
  <strong>Food type:</strong>
  <%= FoodType.find(@recipe.food_type_id).name %>
</p>

<p>
  <strong>Food preference:</strong>
  <%= FoodPreference.find(@recipe.food_preference_id).name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= Cuisine.find(@recipe.cuisine_id).name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @recipe.procedure %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_recipe_path(@recipe),class:"btn btn-success" %> 
<% end -%>
<%= link_to 'Back', recipes_path,class:"btn btn-default" %>
