<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "FoodWorld", root_path,class:"navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
		<% if user_signed_in? %>
			<li><%=link_to "#{current_user.email}" %></li>
			<li><%= link_to "Logout",destroy_user_session_path, method: :delete%></li>
			<%else%>
			<li><%= link_to "Login", new_user_session_path%></li>
			<li  class="active"><%= link_to "SignUp",new_user_registration_path%></li>
		<%end%>
	</ul>
    </nav>
  </div>
</header>