<!DOCTYPE html>
<html>
<head>
  <title>FoodWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<%= render 'layouts/sidebar' %>
				</div>
				<div class="col-lg-9">
					<%= yield %>
				</div>
				
			</div>
		</div>



</body>
</html>
